AiB-env/*
20240430_Cassava/cassava_20240430.cpg
20240430_Cassava/cassava_20240430.dbf
20240430_Cassava/cassava_20240430.prj
20240430_Cassava/cassava_20240430.sbn
20240430_Cassava/cassava_20240430.sbx
20240430_Cassava/cassava_20240430.shp
20240430_Cassava/cassava_20240430.shp.xml
20240430_Cassava/cassava_20240430.shx
20240430_maize/maize_20240430.cpg
20240430_maize/maize_20240430.dbf
20240430_maize/maize_20240430.prj
20240430_maize/maize_20240430.sbn
20240430_maize/maize_20240430.sbx
20240430_maize/maize_20240430.shp
20240430_maize/maize_20240430.shp.xml
20240430_maize/maize_20240430.shx
20240430_Rice/rice_20240430.cpg
20240430_Rice/rice_20240430.dbf
20240430_Rice/rice_20240430.prj
20240430_Rice/rice_20240430.sbn
20240430_Rice/rice_20240430.sbx
20240430_Rice/rice_20240430.shp
20240430_Rice/rice_20240430.shp.xml
20240430_Rice/rice_20240430.shx
Landuse_Chachoengsao_2561/Landuse_Chachoengsao_2561/Landuse_ฉะเชิงเทรา_2561.dbf
Landuse_Chachoengsao_2561/Landuse_Chachoengsao_2561/Landuse_ฉะเชิงเทรา_2561.prj
Landuse_Chachoengsao_2561/Landuse_Chachoengsao_2561/Landuse_ฉะเชิงเทรา_2561.sbn
Landuse_Chachoengsao_2561/Landuse_Chachoengsao_2561/Landuse_ฉะเชิงเทรา_2561.sbx
Landuse_Chachoengsao_2561/Landuse_Chachoengsao_2561/Landuse_ฉะเชิงเทรา_2561.shp
Landuse_Chachoengsao_2561/Landuse_Chachoengsao_2561/Landuse_ฉะเชิงเทรา_2561.shp.xml
Landuse_Chachoengsao_2561/Landuse_Chachoengsao_2561/Landuse_ฉะเชิงเทรา_2561.shx
Landuse_Chachoengsao_2561/Landuse_Chachoengsao_2561/ReadMe_ปี60-61_Zone-47.pdf
Landuse_Chanthaburi_2561/Landuse_Chanthaburi_2561/Landuse_จันทบุรี_2561.dbf
Landuse_Chanthaburi_2561/Landuse_Chanthaburi_2561/Landuse_จันทบุรี_2561.prj
Landuse_Chanthaburi_2561/Landuse_Chanthaburi_2561/Landuse_จันทบุรี_2561.sbn
Landuse_Chanthaburi_2561/Landuse_Chanthaburi_2561/Landuse_จันทบุรี_2561.sbx
Landuse_Chanthaburi_2561/Landuse_Chanthaburi_2561/Landuse_จันทบุรี_2561.shp
Landuse_Chanthaburi_2561/Landuse_Chanthaburi_2561/Landuse_จันทบุรี_2561.shp.xml
Landuse_Chanthaburi_2561/Landuse_Chanthaburi_2561/Landuse_จันทบุรี_2561.shx
Landuse_Chanthaburi_2561/Landuse_Chanthaburi_2561/ReadMe_ปี49-50_Zone-47.pdf
Landuse_Chon Buri_2564/Landuse_Chon Buri_2564/Landuse_Chon Buri_2564.dbf
Landuse_Chon Buri_2564/Landuse_Chon Buri_2564/Landuse_Chon Buri_2564.prj
Landuse_Chon Buri_2564/Landuse_Chon Buri_2564/Landuse_Chon Buri_2564.shp
Landuse_Chon Buri_2564/Landuse_Chon Buri_2564/Landuse_Chon Buri_2564.shx
Landuse_Chon Buri_2564/Landuse_Chon Buri_2564/Landuse_Chon Buri_2564.xml.xml
Landuse_Chon Buri_2564/Landuse_Chon Buri_2564/ReadMe_╗╒62-64_Zone-47.pdf
Landuse_Rayong_2561/Landuse_Rayong_2561/00_ReadMe.txt
Landuse_Rayong_2561/Landuse_Rayong_2561/LU_ระยอง_2561.dbf
Landuse_Rayong_2561/Landuse_Rayong_2561/LU_ระยอง_2561.prj
Landuse_Rayong_2561/Landuse_Rayong_2561/LU_ระยอง_2561.sbn
Landuse_Rayong_2561/Landuse_Rayong_2561/LU_ระยอง_2561.sbx
Landuse_Rayong_2561/Landuse_Rayong_2561/LU_ระยอง_2561.shp
Landuse_Rayong_2561/Landuse_Rayong_2561/LU_ระยอง_2561.shp.xml
Landuse_Rayong_2561/Landuse_Rayong_2561/LU_ระยอง_2561.shx
open-metro/open-meteo/
Soil_Chachoengsao/Soil_Chachoengsao/00_ReadMe.txt
Soil_Chachoengsao/Soil_Chachoengsao/Soil_Chachoengsao.dbf
Soil_Chachoengsao/Soil_Chachoengsao/Soil_Chachoengsao.prj
Soil_Chachoengsao/Soil_Chachoengsao/Soil_Chachoengsao.shp
Soil_Chachoengsao/Soil_Chachoengsao/Soil_Chachoengsao.shx
Soil_Chachoengsao/Soil_Chachoengsao/Soil_Chachoengsao.xml
Soil_Chachoengsao/Soil_Chachoengsao/ñ╙═╕╘║╥┬├╥┬┼╨α═╒┬┤¬╪┤┤╘╣.xlsx
Soil_Chanthaburi/Soil_Chanthaburi/00_ReadMe.txt
Soil_Chanthaburi/Soil_Chanthaburi/Soil_จ.จันทบุรี.dbf
Soil_Chanthaburi/Soil_Chanthaburi/Soil_จ.จันทบุรี.prj
Soil_Chanthaburi/Soil_Chanthaburi/Soil_จ.จันทบุรี.shp
Soil_Chanthaburi/Soil_Chanthaburi/Soil_จ.จันทบุรี.shp.xml
Soil_Chanthaburi/Soil_Chanthaburi/Soil_จ.จันทบุรี.shx
Soil_Chanthaburi/Soil_Chanthaburi/คำอธิบายรายละเอียดชุดดิน.xlsx
Soil_Chon Buri/Soil_Chon Buri/00_ReadMe.txt
Soil_Chon Buri/Soil_Chon Buri/Soil_Chon Buri.dbf
Soil_Chon Buri/Soil_Chon Buri/Soil_Chon Buri.prj
Soil_Chon Buri/Soil_Chon Buri/Soil_Chon Buri.shp
Soil_Chon Buri/Soil_Chon Buri/Soil_Chon Buri.shp.xml
Soil_Chon Buri/Soil_Chon Buri/Soil_Chon Buri.shx
Soil_Chon Buri/Soil_Chon Buri/ñ╙═╕╘║╥┬├╥┬┼╨α═╒┬┤¬╪┤┤╘╣.xlsx
Soil_Rayong/Soil_Rayong/00_ReadMe.txt
Soil_Rayong/Soil_Rayong/Soil_จ.ระยอง.dbf
Soil_Rayong/Soil_Rayong/Soil_จ.ระยอง.prj
Soil_Rayong/Soil_Rayong/Soil_จ.ระยอง.shp
Soil_Rayong/Soil_Rayong/Soil_จ.ระยอง.shp.xml
Soil_Rayong/Soil_Rayong/Soil_จ.ระยอง.shx
Soil_Rayong/Soil_Rayong/คำอธิบายรายละเอียดชุดดิน.xlsx
test/*